/*滚动条的宽度*/
::-webkit-scrollbar {width:6px;height:6px;}
/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
::-webkit-scrollbar-track {width: 6px;background-color:#0d1b20;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius:2em;}
/*滚动条的设置*/
::-webkit-scrollbar-thumb {background-color:#606d71;background-clip:padding-box;min-height:28px;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius:2em;}
/*滚动条移上去的背景*/
::-webkit-scrollbar-thumb:hover {background-color:#606d71;}
/**  主题颜色参考 https://whvse.gitee.io/easywebpage/docs/generater_theme.html*/
/** 按钮 */
.layui-btn:not(.layui-btn-primary):not(.layui-btn-normal):not(.layui-btn-warm):not(.layui-btn-danger):not(.layui-btn-disabled) {
    background-color: rgba(1, 170, 237, 1);
}
.layui-btn.layui-btn-primary:hover {
    border-color: rgba(1, 170, 237, 1);
}
/** 开关 */
.layui-form-onswitch {
    border-color: rgba(1, 170, 237, 1);
    background-color: rgba(1, 170, 237, 1);
}
/** 分页插件 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: rgba(1, 170, 237, 1);
}
.layui-table-page .layui-laypage input:focus {
    border-color: rgba(1, 170, 237, 1) !important;
}
.layui-table-view select:focus {
    border-color: rgba(1, 170, 237, 1) !important;
}
.layui-table-page .layui-laypage a:hover {
    color: rgba(1, 170, 237, 1);
}
/** 单选按钮 */
.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: rgba(1, 170, 237, 1);
}
/** 下拉条目选中 */
.layui-form-select dl dd.layui-this {
    background-color: rgba(1, 170, 237, 1);
}
/** 选项卡 */
.layui-tab-brief > .layui-tab-title .layui-this {
    color: rgba(1, 170, 237, 1);
}
.layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
    border-color: rgba(1, 170, 237, 1) !important;
}
/** 面包屑导航 */
.layui-breadcrumb a:hover {
    color: rgba(1, 170, 237, 1) !important;
}
html  a, .iconfont,button,img {cursor: pointer;text-decoration:none;font-size: 14px;}
html,body,#merchant,#merchant .chant_all,#merchant .chant_all .right_merchant {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: white;
    word-wrap: break-word;
    word-break: break-all;
}
#merchant .chant_all,#merchant .chant_all .right_merchant,#merchant .chant_all .left_menu .menu-title ,#merchant .chant_all .right_merchant .right_top{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
}
#merchant .fa {    font-size: 20px;cursor: pointer}
#merchant .layui-form-pane .layui-form-item[pane] {
    line-height: 38px;
}
#merchant .layui-form-pane .layui-form-item[pane] .layui-input-block{
    padding-left:10px ;
}
/** 筛选条件弹出层 **/
#merchant .filter_panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 300px;
    /*border: 1px solid red;*/
    overflow: auto;
    padding: 15px;
    z-index: 999;
    /*transition:height 1s;*/
    /*-moz-transition:height 1s; !* Firefox 4 *!*/
    /*-webkit-transition:height 1s; !* Safari and Chrome *!*/
    /*-o-transition:height 1s; !* Opera *!*/
}
/** 文件添加框样式 **/
#merchant .input_style_addFile {
    height: 200px;
    width: 200px;
    border: 2px dashed #DFE5ED;
    text-align: center;
    line-height: 200px;
}
#merchant .input_style_addFile .icon-jiahao1 {
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
    color: rgba(1, 170, 237, 1);
}
/**  左侧菜单 **/
#merchant .dis_block {
    display: block !important;
}
#merchant .dis_none {
    display: none;
}
#merchant .chant_all .left_menu {
    width: 90px;
    /*width: 190px;*/
    background: #2b333d;
    z-index: 9999;
    height: 100%;
    position: fixed;
    /*overflow: hidden;*/

    transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
}
/*#merchant .chant_all .left_menu:hover {*/
/*    width: 190px;*/
/*}*/
#merchant .chant_all .left_menu .menu-logo {
    width: 100%;
    height: 70px;
    background: rgb(51,60,71);
}
#merchant .chant_all .left_menu .menu-logo a {
    display: block;
    width: 35px;
    margin: 0 auto;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    box-sizing: content-box;
}
#merchant .chant_all .left_menu .menu-logo a img {
    width: 100%;
}
#merchant .chant_all .left_menu .menu-version {
    width: 100%;
    height: 50px;
    background: #2b333d;
    color: #c5d0dd;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
}
#merchant .chant_all .left_menu .menu-title {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    height: 50%;
    overflow-y: auto;
    position: relative;
}
#merchant .chant_all .left_menu .menu-title a {
    /*display: block;*/
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
    display: inline-flex;
    display:-webkit-inline-flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;
    position: relative;

}
#merchant .chant_all .left_menu .menu-title .menu-show {
    color: white;
    font-size: 14px;
    text-align: left;
    width: 80px;
    margin-left: 25px;
}
#merchant .chant_all .left_menu .menu-title .menu-tooltip {
    display: none;
    color: white;
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    background: rgb(51,60,71);
    font-size: 12px;
    top: 0;
    left: 0;
}

#merchant .chant_all .left_menu .menu-title .menu-hide {
    display: block !important;
}
#merchant .chant_all .left_menu .menu-title .li_active {
    background: #f8b551;
    color: white;
    padding: 4px;
    border-radius: 4px;
    height: 22px;
    align-items: center;
    display: flex;
}
#merchant .chant_all .left_menu .menu-title a:hover {
    background: rgb(51,60,71);
}
#merchant .chant_all .left_menu .menu-title i{
     color: #c5d0dd;
     font-size: 20px;
}
#merchant .chant_all .left_menu .menu-show-hide {
    width: 100%;
    height: 40px;
    background: rgb(51,60,71);
    position: absolute;
    bottom: 0;
}
#merchant .chant_all .left_menu .menu-show-hide a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
}
#merchant .chant_all .left_menu .menu-show-hide i{
    color: #c5d0dd;
    font-size: 20px;
}
/**  右侧 **/
#merchant .chant_all .right_merchant {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-grow: 1;
}
#merchant .chant_all .right_merchant .right_top {
    min-height: 70px;
    padding-right: 8px;
    background: rgb(246,246,246);
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
 #merchant .chant_all .right_merchant .right_top .menu_info_edit{
     position: absolute;
     width: 300px;
     background: #fff;
     z-index: 9;
     right: 5px;
     top: 65px;
     border: 1px solid #e6e6e6;
     border-radius: 3px;

     padding-top: 0px;
     margin-top: 0px;
     padding-bottom: 0px;
     margin-bottom: 0px;
     min-height: 10px;
     z-index: 999;

     transition:height 2s;
     -moz-transition:height 2s; /* Firefox 4 */
     -webkit-transition:height 2s; /* Safari and Chrome */
     -o-transition:height 2s; /* Opera */
 }
#merchant .chant_all .right_merchant .right_top .menu_info_edit::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    position: absolute;
    top: -6px;
    right: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;

    transition:height 2s;
    -moz-transition:height 2s; /* Firefox 4 */
    -webkit-transition:height 2s; /* Safari and Chrome */
    -o-transition:height 2s; /* Opera */
}
#merchant .chant_all .right_merchant .right_top .menu_info_edit .info_edit_one {
    background: #fafafa;
    /*padding: 15px 30px 15px 70px;*/
    min-height: 38px;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-size: 14px;
    padding: 10px 0px;
    border-bottom: 1px solid #e6e6e6;
}
#merchant .chant_all .right_merchant .right_top .menu_info_edit .info_edit_two {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    height: 3px;
    font-size: 16px;
    border-bottom: red;

    height: 38px;
    line-height: 38px;
    /*align-items: center;*/
    /*-webkit-align-items: center;*/
    font-size: 15px;
    border-bottom: 1px solid #e6e6e6;


}
#merchant .chant_all .right_merchant .right_top .menu_info_edit .info_edit_two div:nth-child(1) {
    padding: 0 20px 0 33px;
}
#merchant .chant_all .right_merchant .right_top .menu_info_edit .backFFF {
    background: white !important;
}
#merchant .chant_all .right_merchant .right_top .menu_info_edit .info_edit_one img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 12px;
    vertical-align: top;
}
#merchant .chant_all .right_merchant .right_top .menu_info_edit .info_ms_two,.info_ms_two {
    line-height: 23px;
}
#merchant .chant_all .right_merchant .right_content {
    transition:margin-left 2s;
    -moz-transition:margin-left 2s; /* Firefox 4 */
    -webkit-transition:margin-left 2s; /* Safari and Chrome */
    -o-transition:margin-left 2s; /* Opera */

    margin-left: 90px;
}
#merchant .chant_all .right_merchant .right_top a{
    display: block;
    margin: 0 10px;
}
#merchant .chant_all .right_merchant .right_top .menu_info_link{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#merchant .chant_all .right_merchant .right_top a .menu_info_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#merchant .chant_all .right_merchant .right_top a i{
    font-size: 20px;
    color: #697a8e;
}
/**tab 切换*/
.staff_tab {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    border-top: 1px solid #eff2f5;
    border-bottom: 1px solid #eff2f5;
}
.tab_staff_content{
    /*margin: 0 30px;*/
}
.staff_tab .tab_list {
    /*width: 100px;*/
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 30px;
    color: #05abef;
}
.staff_tab .tab_list:hover {
    color: #05abef ;
}
/** 选中样式 **/
.staff_tab .tab_active {
    color: #05abef;
    border-bottom: 4px solid #05abef;
}
