/*滚动条的宽度*/
::-webkit-scrollbar {width:6px;height:6px;}
/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
::-webkit-scrollbar-track {width: 6px;background-color:#0d1b20;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius:2em;}
/*滚动条的设置*/
::-webkit-scrollbar-thumb {background-color:#606d71;background-clip:padding-box;min-height:28px;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius:2em;}
/*滚动条移上去的背景*/
::-webkit-scrollbar-thumb:hover {background-color:#606d71;}
html  a, .iconfont,button,img {cursor: pointer;}
html,body,#merchant,#merchant .chant_all,#merchant .chant_all .right_merchant {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: white;
    word-wrap: break-word;
    word-break: break-all;
}
#merchant .chant_all,#merchant .chant_all .right_merchant,#merchant .chant_all .left_menu .menu-title ,#merchant .chant_all .right_merchant .right_top{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
}
/**  左侧菜单 **/
#merchant .chant_all .left_menu {
    width: 90px;
    background: #2b333d;
    z-index: 9;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#merchant .chant_all .left_menu .menu-logo {
    width: 100%;
    height: 70px;
    background: rgb(51,60,71);
}
#merchant .chant_all .left_menu .menu-logo a {
    display: block;
    width: 35px;
    margin: 0 auto;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    box-sizing: content-box;
}
#merchant .chant_all .left_menu .menu-logo a img {
    width: 100%;
}
#merchant .chant_all .left_menu .menu-version {
    width: 100%;
    height: 50px;
    background: #2b333d;
    color: #c5d0dd;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
}
#merchant .chant_all .left_menu .menu-title {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    height: 50%;
    overflow-y: auto;
}
#merchant .chant_all .left_menu .menu-title a {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#merchant .chant_all .left_menu .menu-title a:hover {
    background: rgb(51,60,71);
}
#merchant .chant_all .left_menu .menu-title i{
     color: #c5d0dd;
     font-size: 20px;
}
#merchant .chant_all .left_menu .menu-show-hide {
    width: 100%;
    height: 40px;
    background: rgb(51,60,71);
    position: absolute;
    bottom: 0;
}
#merchant .chant_all .left_menu .menu-show-hide a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
}
#merchant .chant_all .left_menu .menu-show-hide i{
    color: #c5d0dd;
    font-size: 20px;
}
/**  右侧 **/
#merchant .chant_all .right_merchant {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
#merchant .chant_all .right_merchant .right_top {
    height: 70px;
    background: rgb(246,246,246);
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
}
#merchant .chant_all .right_merchant .right_top a{
    display: block;
    margin: 0 10px;
}
#merchant .chant_all .right_merchant .right_top a:last-child{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#merchant .chant_all .right_merchant .right_top a:last-child img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#merchant .chant_all .right_merchant .right_top a i{
    font-size: 20px;
    color: #697a8e;
}
